<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<!--網站設定值-->
	<appSettings>
		<add key="MailServerIP" value="13.112.24.9" />
		<add key="HashKey" value="YlvvMbd8DcDMwvXP" />
		<add key="HashIV" value="4G8g41C9GF7HLLA7" />
		<add key="MerchantID" value="3008945" />
		<add key="AppCode" value="dtsgroup" />
		<add key="PostUrl" value="https://payment.ecpay.com.tw/Cashier/AioCheckOut/V2" />
		<add key="ServerPostUrl" value="https://payment.ecpay.com.tw/Mobile/CreateServerOrder/V2" />
		<add key="OTPPostUrl" value="https://payment.ecpay.com.tw/Mobile/VerifyOtpCode" />
		<add key="ReturnURL" value="https://www.dtsgroup.com.tw/service/creditcard/PayResultV2.aspx" />
		<add key="OnlinePay" value="0" />
		<add key="OrderOnline" value="0" />
		<add key="ehsnBaseUrl" value="http://api.u-mall.com.tw/o/" />
		<add key="basehost" value="https://www.dtsgroup.com.tw" />
		<add key="fronthost" value="/newweb" />
		<add key="cowellb2bpath" value="http://erp.gogojp.com.tw:8000/wmnet/api/cowell_go.ashx" />
	</appSettings>
	<connectionStrings>
		<add name="TravelDBConnectionString" connectionString="Data Source=223.27.34.85,1433;Initial Catalog=TravelDB;Persist Security Info=True;User ID=DTSWWW;Password=ts28838401DB;Pooling=True;" providerName="System.Data.SqlClient" />
		<add name="TravelDBConnectionString1" connectionString="Data Source=223.27.34.85,1433;Initial Catalog=TravelDB_dpackge;Persist Security Info=True;User ID=DTSWWW;Password=ts28838401DB;Pooling=True;" providerName="System.Data.SqlClient" />
		<add name="DataModel" connectionString="metadata=res://*/App_Code.DTSModel.csdl|res://*/App_Code.DTSModel.ssdl|res://*/App_Code.DTSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=223.27.34.85,1433;initial catalog=TravelDB;persist security info=True;User ID=DTSWWW;Password=ts28838401DB;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="WebDataModel" connectionString="metadata=res://*/App_Code.DTSWebModel.csdl|res://*/App_Code.DTSWebModel.ssdl|res://*/App_Code.DTSWebModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=223.27.34.85,1433;initial catalog=TravelDB;persist security info=True;User ID=DTSWWW;Password=ts28838401DB;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="BPDataModel2" connectionString="metadata=res://*/App_Code.BBDataModel.csdl|res://*/App_Code.BBDataModel.ssdl|res://*/App_Code.BBDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=223.27.34.85,1433;initial catalog=TravelDB_dpackge;persist security info=True;User ID=DTSWWW;Password=ts28838401DB;pooling=True;multipleactiveresultsets=True;connect timeout=300;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ODB_DTSEntities" connectionString="metadata=res://*/App_Code.ODBModel.csdl|res://*/App_Code.ODBModel.ssdl|res://*/App_Code.ODBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=223.27.34.85,1433;initial catalog=ODB_DTS;persist security info=True;User ID=DTSWWW;Password=ts28838401DB;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="trdatagogojpEntities" connectionString="metadata=res://*/App_Code.trdatagogojp.csdl|res://*/App_Code.trdatagogojp.ssdl|res://*/App_Code.trdatagogojp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=223.27.34.85;initial catalog=trdatagogojp;persist security info=True;user ID=gogojp;Password=TR2000.gogojp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<location path="." inheritInChildApplications="false">
		<system.web>
			<siteMap enabled="true">
				<providers>
					<add name="managersitemap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/manager/WebManger.sitemap" />
				</providers>
			</siteMap>
			<machineKey decryptionKey="BF5945BE315FDDF9C4EEE1BB631EFFDFFECAE1FF76754F60,IsolateApps" validation="3DES" validationKey="9AE4B94DCFEE8AF2FA62109D1270889862A4AF6979B2B853A984A53214093E412FFA381FFDCC0DFF15040E23A69B6EA438E265BB89D3E390EB1E28E7362172A1,IsolateApps" />
			<customErrors mode="Off" redirectMode="ResponseRewrite">
				<error statusCode="404" redirect="/404.aspx" />
			</customErrors>
			<compilation debug="true" defaultLanguage="c#" explicit="true" strict="false" targetFramework="4.0">
				<assemblies>
					<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
					<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
					<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
					<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
					<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				</assemblies>
			</compilation>
			<membership>
				<providers>
					<clear />
					<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
				</providers>
			</membership>
			<profile>
				<providers>
					<clear />
					<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
				</providers>
			</profile>
			<roleManager enabled="false">
				<providers>
					<clear />
					<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
					<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
				</providers>
			</roleManager>
		</system.web>
	</location>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="RewriteModule" />
			<add name="RewriteModule" />
		</modules>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.aspx" />
				<add value="index.html" />
				<add value="contactform.aspx" />
				<add value="contactform.html" />
				<add value="index.htm" />
				<add value="iisstart.htm" />
				<add value="default.aspx" />
				<add value="Default.htm" />
			</files>
		</defaultDocument>
		<httpErrors>
			<error statusCode="503" prefixLanguageFilePath="/custerr" path="503.html" responseMode="File" />
		</httpErrors>
		<caching>
			<profiles>
				<add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
				<add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
				<add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:30:00" />
				<add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:30:00" />
			</profiles>
		</caching>
	</system.webServer>
	<system.net>
        <mailSettings>
			<smtp from="service@dtsgroup.com.tw">
				<network defaultCredentials="false" host="smtp.gmail.com" password="gogojp28838401JP" port="587" userName="service@dtsgroup.com.tw" />
			</smtp>
        </mailSettings>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>